.root {
    --color-ff0000: #ff0000;
    --color-cc0000: #cc0000;
    --color-520003: #520003;
    --color-0095ff: #0095ff;
    --color-ffd200: #ffd200;
    --color-ffb400: #ffb400;
    --color-ffffff: #ffffff;
    --color-47ad24: #47ad24;
    --color-e52e2e: #e52e2e;
    --color-c3d4da: #c3d4da;
    --color-828599: #828599;
    --color-212529: #212529;
}

.green {
    color: green;
    font-size: 14px;
    font-family: Roboto !important;
}

.red {
    color: red;
    font-size: 14px;
    font-family: Roboto !important;
}

.quill {
    background-color: var(--color-ffffff);
}

.form-control {
    box-shadow: none;
    background-color: var(--color-c3d4da);
}

.title {
    font: 28px;
    font-family: Roboto !important;
    color: var(--color-212529);
}

.sub-title {
    font: 23px;
    font-family: Roboto !important;
    color: var(--color-212529);
}

.desc {
    font: 10px;
    font-family: Roboto !important;
    color: var(--color-828599);
}