@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:root {
  --color-ff0000: #ff0000;
  --color-cc0000: #cc0000;
  --color-520003: #520003;
  --color-3d2022: #3d2022;
  --color-ffffff: #ffffff;
  --color-ffd200: #ffd200;
  --color-ffb400: #ffb400;
  --color-0095ff: #0095ff;
  --color-006dba: #006dba;
  --color-36454f: #36454f;
  --color-000000: #000000;
  --color-e0e9e8: #e0e9e8; 
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
  display: inline-block;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30{
  gap: 30px;
}

.white {
  color:#ffffff
}

.icon-white {
  color: white
}

.button {
  background-color: var(--color-0095ff);
  color: #ffffff;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--color-ff0000);
  color: #ffffff;
}

.breadcrumb .caption {
  font-size: 24px; 
  font-weight: bold; 
  color: black; 
  z-index: 1; 
  margin-bottom: 0 auto;
  margin-top: 0 auto;
}

.breadcrumb .home-here {
  font-size: 12px; 
  font-weight: bold; 
  color: #36454f; 
  z-index: 1; 
  margin-bottom: 0 auto;
  margin-top: 0 auto;
}

/* Header Part */

.header-top-strip {
  border-bottom: 1px solid var(--color-ffffff);
  background-color: var(--color-cc0000);
}
.header-top-strip .telephone-icon {
  filter: invert(100%);
  width: 25px; /* Ukuran sesuai kebutuhan */
  height: 25px; /* Ukuran sesuai kebutuhan */
  margin-right: 5px; /* Jarak ikon ke teks */
}

.header-upper.col-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
.header-upper img.icon-bipnet {
  width: 56px; /* Ganti sesuai kebutuhan */
  height: auto; /* Ganti sesuai kebutuhan */
}
.header-upper .header-upper-links img {
  width: 20px; /* Ukuran yang lebih kecil */
  height: 20px; /* Ukuran yang lebih kecil */
  filter: invert(100%);
}
.header-upper {
  background-color: var(--color-cc0000);
}
.header-upper .header-upper-links {
  color: var(--color-ffffff);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding-top: 15.5px;
}
.header-upper .header-upper-links .link-item {
  margin: 0 20px; /* Menyesuaikan jarak antar item */
  display: flex;
  align-items: center;
}


.header-upper .header-upper-links img{
  width: 25px;
  height: 25px;
  color: var(--color-ffffff);
}

.header-upper .header-upper-links .dropdown-menu {
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
  border-bottom: 1px solid var(--color-000000);
  
}

.header-upper .header-upper-links .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-feb400) !important;
}

.header-upper-links p, .header-upper-links span {
  font-weight: bold;
}

/* Header Part Ends Here */

/* Footer Part */

footer {
  background-color: var(--color-0095ff);
}

footer img {
  filter: invert(100%);
  width: 25px; /* Sesuaikan ukuran jika perlu */
  height: 25px; /* Sesuaikan ukuran jika perlu */
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .subscribe-input-group .input-group-text {
  background-color: var(--color-ff0000);
  border-color: #ff0000;
  color: #ff0000;
  padding: 8px 17px;
}

.footer .subscribe-input-group .form-control {
  border-color: #ff0000;
}

.footer-row {
  display: flex;
  align-items: flex-start;
}

.telephone-icon, .email-icon {
  margin-right: 10px;
}

.second-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
}

.footer h4, .footer p {
  font-size: 14px; /* Sesuaikan ukuran sesuai kebutuhan */
}


/* Footer Part Ends Here */

/* Home Page */

.carousel-inner {
  width: 98.75vw; 
  height: auto;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  filter: brightness(50%); /* Membuat gambar lebih gelap */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* home wrapper 2 */

.home-wrapper-2 img {
  width: 49%;
  height: auto;
  position: relative;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* home wrapper 2 ends here */

/* home wrapper 3 */

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}


/* home wrapper 3 ends here */

/* home wrapper 4 */

.home-wrapper-4 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #cc0000;
}

.home-wrapper-4 .company-pro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper-4 .title {
  color: #ffffff;
}

.content-container {
  margin-right: 20px; /* Tambahkan jarak antara teks dan logo */
}

.logo-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain; /* Pastikan gambar tidak melampaui kontainer */
}

/* home wrapper 4 ends here */

/* home wrapper 5 */

.home-wrapper-5 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.home-wrapper-5 .company-pro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper-5 .title {
  color: #000000;
}

/* home wrapper 5 ends here */

/* home wrapper 6 */

.home-wrapper-6 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-0095ff);
}

.home-wrapper-6 .company-pro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper-6 .title {
  color: #ffffff;
}

/* home wrapper 6 ends here */

/* home wrapper 7 */

.home-wrapper-7 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.home-wrapper-7 .company-pro{
  display: flex;
}

.home-wrapper-7 .title {
  color: #000000;
}

/* home wrapper 7 ends here */

/* home wrapper 8 */

.home-wrapper-8 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.home-wrapper-8 .company-pro{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.home-wrapper-8 .title {
  color: black;
}

.home-wrapper-8 img {
  width: 70%;
  height: auto;
  object-fit: contain;
}

.home-wrapper-8 .Slider {
  justify-content: center;
}

.card-wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 10px #000000;
  padding: 15px;
}
/* home wrapper 8 ends here */

/* Home Page Ends Here */

/* blog part */

.blog-card {
  background-color: #eeeeee;
  border-radius: 10px;
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 15px;
}

.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: black;
  padding: 0;
}

.blog-content h5 {
  font-size: 18px;
  color: var(--color-520003);
}

.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: black;
}

.blog-content .button {
  background-color: #cc0000;
}

.blog-wrapper {
  background-color: #eeeeee;
}

.blog-card {
  background-color: #ffffff;
}

.filter-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
}

.filter-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-3d2022);
  margin-bottom: 20px;
}

.filter-card ul {
  list-style-type: none;
  font-size: 15px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}

.single-blog-card a {
  font-size: 15px;
  color: var(--color-777777);
  margin-bottom: 20px;
}


.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}

.single-blog-card p {
  color: var(--color-777777);
  font-size: 14px;
}

/* blog part ends here */

/* Layanan */

.store-wrapper-1 img {
  width: 15px;
  height: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


.store-wrapper-2 {
  background-color: var(--color-cc0000);
}

.store-wrapper-2 img {
  filter: invert(100%);
}

.promo-wrapper img {
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.promo-wrapper .btn {
  position: relative;
  align-items: center;
  margin-left: 37.5%;
  margin-right: auto;
}

.promo-wrapper .card {
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
}

/* Layanan ends here */

/* Customer Service */

.cust-inner-wrapper {
  padding: 30px 20px;
  border: 15px;
  background-color: #ffffff;
  gap: 15px;
}

.cust-inner-wrapper > div {
  width: 48%;
}

.cust-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}

.cust-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: #000000;
  padding: 10px;
}




/* Customer Service ends here */

/* auth */

.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 30px;
}

.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-000000);
}

.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: var(--color-eeeeee);
}

.auth-card .signup {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-ffffff);
}

.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-000000);
}

.login-wrapper {
  background-color: #e0e9e8;
}

.auth-card .forgotpassword {
  background-color: var(--color-ffffff);
  color: #000000;
}

.auth-card p {
  font-size: 14px;
}


/* auth ends here*/

/* policy pages */

.policy-wrapper {
  background-color: #eeeeee;
}

.policy {
  background-color: white;
  padding: 30px;
}

/* policy pages ends here */

/* Responsive */

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}